* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  background: #e35869;
  font-family: "Rubik", sans-serif;
}

.alert {
  margin-top: 1rem;
  text-align: center;
  color: red;
}

.errors {
  padding: 2rem;
  color: red;
}
